header,
nav,
body,
main,
footer {
  font-family: Helvetica, sans-serif;
}
main {
  font-family: Helvetica, sans-serif;
  padding: 1rem;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(220, 22, 22);
  justify-content: space-between;
  padding-inline: 16px;
}

.nav-item {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  cursor: pointer;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.flex-wrapper > div {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(220, 22, 22);
}

footer a {
  color: rgb(220, 22, 22);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.ajax-logo {
  width: 15%;
  height: auto;
}

section {
  margin-bottom: 10px;
}

.icon-btn {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.icon-btn:hover {
  color: red;
}

.icon-btn {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.icon-btn:hover {
  color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

.nav-item:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(220, 22, 22);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998; /* Damit der Header über dem text liegt */
  background-color: white; /* optional, damit Inhalt nicht durchscheint */
}

nav {
  position: fixed;
  top: 130px; /* Höhe des Headers anpassen, falls nötig */
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgb(220, 22, 22);
}

/* Damit der Inhalt nicht unter Header und Nav verschwindet */
main {
  margin-top: 140px; /* Summe der Höhe von Header + Nav anpassen */
  overflow-y: auto; /* ermöglicht Scrollen im Inhalt */
}
