.grid-wrapper {
    display: grid;
    height: 82vh;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

   flex-shrink: 0;
    flex-basis: auto;
}.flex-wrapper {
    display: flex;
    flex-direction: row;
    gap: 17px;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-wrapper > div {
    flex-grow: 0;